<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="./assets/libs/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/ionicons2/css/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/font-roboto/roboto.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/OwlCarousel2/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/libs/OwlCarousel2/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./assets/css/theme.css" type="text/css">
  </head>
  <body>       
    <div class="page detail">
      <header class="header-top">
        <div class="container"> 
          <h1 class="logo"><a href="./"><img src="./assets/images/logo.png" alt=""/></a></h1><span class="navi-wrapper">
            <div class="navigation">
              <ul>
                <li class="active"><a href="/">Nạp điện thoại</a>
                </li>
                <li><a href="/napcham.html">Nạp chậm</a>
                </li>
                <li><a href="/muamathe.html">Mua mã thẻ</a>
                </li>
                <li><a href="/tintuc.html">Tin tức</a>
                  <ul>
                    <li><a href="/tintuc.html">Khuyến mãi</a>
                    </li>
                    <li><a href="/tintuc.html">Hướng dẫn</a>
                    </li>
                    <li><a href="/tintuc.html">Tin tức</a>
                    </li>
                    <li><a href="/lienhe.html">Liên hệ</a>
                    </li>
                  </ul>
                </li>
                <li><a href="/chitiet.html">Thông báo chuyển tiền</a>
                </li>
              </ul>
            </div></span><span class="pull-right user-header"><span class="separate">&nbsp;</span><a class="btn btn-third"><i class="icon ion-android-person"> </i><span class="btn-text">Đăng ký</span></a><a class="btn btn-second"> <i class="fa ion ion-android-unlock"></i><span class="btn-text">Đăng nhập</span></a></span>
        </div>
      </header>
      <div class="heading-page">
        <div class="container">
          <div class="breadcrumb"><a href="#">Trang chủ  </a><span> / </span><a href="#">Tin tức</a><span> / </span><span>MobiFone khuyến mãi 20% giá trị thẻ nạp duy nhất ngày 4/7/2018</span></div>
          <h3 class="page-title">MobiFone khuyến mãi 20% giá trị thẻ nạp duy nhất ngày 4/7/2018</h3>
        </div>
      </div>
      <section class="main">
        <div class="section">
          <div class="container">
            <div class="col-sm-8">
              <div class="row mainpage-wrapper">
                <div class="blockPage">
                  <div class="blockTitle">
                    <h1></h1>
                    <div class="info-meta">
                      <div class="info-inline"><i class="fa fa-clock-o"></i>8.00AM</div>
                      <div class="info-inline">
                        <div class="fa fa-calendar-o"></div> Thứ 2/26/03/2018
                      </div>
                      <div class="info-inline">
                        <div class="fa fa-eye"></div>   95
                      </div>
                    </div>
                    <hr/>
                    <h2>Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản.Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu 'Nội dung, nội dung, nội dung' là nó khiến văn bản giống thật hơn</h2>
                  </div>
                  <div class="blockContent">                       
                    <div class="blogItem detailContent"><a class="cover" href="/chitiet.html"><img src="./assets/images/article.jpg" alt="news"/>
                        <div class="cover-caption">Mô tả hình ảnh</div></a>
                      <div class="detail">
                        <p><strong>Nội dung hiển thị</strong></p>
                        <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ những năm 1500, khi một họa sĩ vô danh ghép nhiều đoạn văn bản với nhau để tạo thành một bản mẫu văn bản. Đoạn văn bản này không những đã tồn tại năm thế kỉ, mà khi được áp dụng vào tin học văn phòng, nội dung của nó vẫn không hề bị thay đổi.</p>
                        <p>Nó đã được phổ biến trong những năm 1960 nhờ việc bán những bản giấy Letraset in những đoạn Lorem Ipsum, và gần đây hơn, được sử dụng trong các ứng dụng dàn trang, như Aldus PageMaker.</p>
                        <p><strong> * LƯU Ý:</strong></p>
                        <div>– Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện vẫn đang trong quá trình xây dựng</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="blockTitle">
                    <h3><span><i class="fa fa-tags"></i> Tags</span></h3>
                  </div>
                  <div class="blockContent"><a class="tag-item" href="# #{i}">tags 1</a><a class="tag-item" href="# #{i}">tags 2</a><a class="tag-item" href="# #{i}">tags 3</a><a class="tag-item" href="# #{i}">tags 4</a>
                  </div>
                </div>
                <div>
                  <div class="blockTitle">
                    <h3><span>Có thể bạn quan tâm</span></h3>
                  </div>
                  <div class="blockContent">
                    <ul class="relativeNews">
                      <li><a href>Tin bài liên quan</a></li>
                      <li><a href>Địa điểm tổ chức </a></li>
                      <li><a href>Hồ sơ công chứng bản gốc</a></li>
                      <li><a href>Địa điểm tổ chức hội nghị</a></li>
                      <li><a href>Sau hoàn tất</a></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <div class="blockTitle">
                    <h3><span>Tin liên quan</span></h3>
                  </div>
                  <div class="blockContent">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="small-blockitem">
                          <div class="blockCase">
                            <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                            <div class="heading">           
                              <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                            </div><a class="readmore">Xem thêm...</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="small-blockitem">
                          <div class="blockCase">
                            <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                            <div class="heading">           
                              <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                            </div><a class="readmore">Xem thêm...</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="small-blockitem">
                          <div class="blockCase">
                            <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                            <div class="heading">           
                              <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                            </div><a class="readmore">Xem thêm...</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="small-blockitem">
                          <div class="blockCase">
                            <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                            <div class="heading">           
                              <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                            </div><a class="readmore">Xem thêm...</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4"> 
              <div class="sidebar">
                <div class="blockTitle row  lineHorizontal">
                  <h3><span><i class="fa fa-file-text"></i>  Chủ đề</span></h3>
                </div>
                <div class="blockContent row  border-left">
                  <ul class="list-second-color">
                    <li class="active"><a href="#"><i class="fa fa-check"></i><strong>&nbspNạp tiền điện thoại</strong></a></li>
                    <li><a href="#"><i class="fa fa-check"></i><strong>&nbspNạp tiền Game</strong></a></li>
                    <li><a href="#"><i class="fa fa-check"></i><strong>&nbspHướng dẫn Nạp tiền điện thoại</strong></a></li>
                    <li><a href="#"><i class="fa fa-check"></i><strong>&nbspHướng dẫn Nạp tiền Game</strong></a></li>
                    <li><a href="#"><i class="fa fa-check"></i><strong>&nbspHướng dẫn đổi quà</strong></a></li>
                  </ul>
                </div>
              </div>
              <div class="sidebar border-left">
                <div class="blockTitle row lineHorizontal">
                  <h3><span><i class="fa fa-newspaper-o"></i> Tin mới</span></h3>
                </div>
                <div class="blockContent row">
                  <div class="content-side">
                    <div class="fullImage small-blockitem">
                      <div class="blockCase">
                        <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                        <div class="heading">           
                          <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                        </div><a class="readmore">Xem thêm...</a>
                      </div>
                    </div>
                    <div class="small-blockitem">
                      <div class="blockCase">
                        <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                        <div class="heading">           
                          <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                        </div><a class="readmore">Xem thêm...</a>
                      </div>
                    </div>
                    <div class="small-blockitem">
                      <div class="blockCase">
                        <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                        <div class="heading">           
                          <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                        </div><a class="readmore">Xem thêm...</a>
                      </div>
                    </div>
                    <div class="small-blockitem">
                      <div class="blockCase">
                        <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                        <div class="heading">           
                          <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                        </div><a class="readmore">Xem thêm...</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="company-section section-gray">
        <div class="container">
          <div class="row">
            <div class="col-sm-3"><a class="logo-footer"><img src="./assets//images/logo-white.png" alt=""/></a></div>
            <div class="col-sm-5">
              <div class="addressBlock">
                <div class="info-pg">
                  <h5 class="heading">Tại Hà Nội</h5>
                  <div class="content">
                    <div><i class="fa fa-map-marker"></i><span>&nbsp;Số 123, phường XYZ, quận Cầu Giấy, TP. HN</span></div>
                    <div><i class="fa fa-envelope">  </i><span>&nbsp;support@company.vn</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="addressBlock">
                <div class="info-pg">
                  <h5 class="heading">Điện thoại</h5>
                  <div class="content">
                    <div><i class="fa fa-phone"></i><span>&nbsp;0987 123 456 - 0989 123 456</span></div>
                    <div><i class="fa fa-fax">  </i><span>&nbsp; 123 123 456</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Giới thiệu</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán  </span></a></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Chính sách</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán                          </span></a></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Hướng dẫn</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán</span></a></div>
              </div>
            </div>
            <div class="col-sm-12 copyright"><span>© Copyright 2018 company, All Rights Reserved</span></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./assets/libs/jquery/jquery.min.js"></script>
    <script src="./assets/libs/bootstrap/bootstrap.min.js"></script>
    <script src="./assets/libs/OwlCarousel2/owl.carousel.min.js"></script>
    <script src="./js/main.min.js"></script>
  </body>
</html>