<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="./assets/libs/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/ionicons2/css/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/font-roboto/roboto.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/OwlCarousel2/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/libs/OwlCarousel2/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./assets/css/theme.css" type="text/css">
  </head>
  <body>       
    <div class="page contact">
      <header class="header-top">
        <div class="container"> 
          <h1 class="logo"><a href="./"><img src="./assets/images/logo.png" alt=""/></a></h1><span class="navi-wrapper">
            <div class="navigation">
              <ul>
                <li class="active"><a href="/">Nạp điện thoại</a>
                </li>
                <li><a href="/napcham.html">Nạp chậm</a>
                </li>
                <li><a href="/muamathe.html">Mua mã thẻ</a>
                </li>
                <li><a href="/tintuc.html">Tin tức</a>
                  <ul>
                    <li><a href="/tintuc.html">Khuyến mãi</a>
                    </li>
                    <li><a href="/tintuc.html">Hướng dẫn</a>
                    </li>
                    <li><a href="/tintuc.html">Tin tức</a>
                    </li>
                    <li><a href="/lienhe.html">Liên hệ</a>
                    </li>
                  </ul>
                </li>
                <li><a href="/chitiet.html">Thông báo chuyển tiền</a>
                </li>
              </ul>
            </div></span><span class="pull-right user-header"><span class="separate">&nbsp;</span><a class="btn btn-third"><i class="icon ion-android-person"> </i><span class="btn-text">Đăng ký</span></a><a class="btn btn-second"> <i class="fa ion ion-android-unlock"></i><span class="btn-text">Đăng nhập</span></a></span>
        </div>
      </header>
      <div class="section-slider">       
        <div class="cover"> <img src="./assets/images/cover-contact-page.jpg">
          <div class="heading">
            <h3 class="dboubeLine contact-icon">LIÊN HỆ</h3>
            <div><a href="#">Trang chủ  </a><span> / </span><a href="#">Liên hệ</a></div>
          </div>
        </div>
      </div>
      <section class="main">
        <div class="section">
          <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="row"><br>
                <div class="boxShadow" style="border-top: 1px solid #eaeaea;border-radius: 5px;"><br>
                  <div class="boxContent clearfix">
                    <div class="form lightForm"> 
                      <div class="form-group col-sm-12"><span class="form-label">Tiêu đề</span>
                        <input class="form-control" placeholder="Nhập tiêu đề"/>
                      </div>
                      <div class="form-group col-sm-6"><span class="form-label">Họ tên</span>
                        <input class="form-control" placeholder="Nhập họ tên"/>
                      </div>
                      <div class="form-group col-sm-6"><span class="form-label">Email</span>
                        <input class="form-control" placeholder="Nhập email"/>
                      </div>
                      <div class="form-group col-sm-12"><span class="form-label">Số điện thoại</span>
                        <input class="form-control" placeholder="Nhập số điện thoại"/>
                      </div>
                      <div class="form-group col-sm-12"><span class="form-label">Nội dung</span>
                        <textarea class="form-control" placeholder="Nội dung"></textarea>
                      </div>
                      <div class="form-group col-sm-6"><span class="form-label">Mã xác thực</span>
                        <input class="form-control" placeholder="Nhập mã"/>
                      </div>
                      <div class="form-group col-sm-6"><span class="form-label">mã</span><a class="btn btn-default" href="#">XYXTT</a></div>
                      <div class="form-group col-sm-12"><a class="btn_submit_action btn btn-second" href="#">Gửi    <i class="fa fa-paper-plane"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="company-section section-gray">
        <div class="container">
          <div class="row">
            <div class="col-sm-3"><a class="logo-footer"><img src="./assets//images/logo-white.png" alt=""/></a></div>
            <div class="col-sm-5">
              <div class="addressBlock">
                <div class="info-pg">
                  <h5 class="heading">Tại Hà Nội</h5>
                  <div class="content">
                    <div><i class="fa fa-map-marker"></i><span>&nbsp;Số 123, phường XYZ, quận Cầu Giấy, TP. HN</span></div>
                    <div><i class="fa fa-envelope">  </i><span>&nbsp;support@company.vn</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="addressBlock">
                <div class="info-pg">
                  <h5 class="heading">Điện thoại</h5>
                  <div class="content">
                    <div><i class="fa fa-phone"></i><span>&nbsp;0987 123 456 - 0989 123 456</span></div>
                    <div><i class="fa fa-fax">  </i><span>&nbsp; 123 123 456</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Giới thiệu</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán  </span></a></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Chính sách</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán                          </span></a></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Hướng dẫn</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán</span></a></div>
              </div>
            </div>
            <div class="col-sm-12 copyright"><span>© Copyright 2018 company, All Rights Reserved</span></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./assets/libs/jquery/jquery.min.js"></script>
    <script src="./assets/libs/bootstrap/bootstrap.min.js"></script>
    <script src="./assets/libs/OwlCarousel2/owl.carousel.min.js"></script>
    <script src="./js/main.min.js"></script>
  </body>
</html>