<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="./assets/libs/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/ionicons2/css/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/font-roboto/roboto.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/OwlCarousel2/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/libs/OwlCarousel2/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./assets/css/theme.css" type="text/css">
  </head>
  <body>       
    <div class="page homepage">
      <header class="header-top">
        <div class="container"> 
          <h1 class="logo"><a href="./"><img src="./assets/images/logo.png" alt=""/></a></h1><span class="navi-wrapper">
            <div class="navigation">
              <ul>
                <li class="active"><a href="/">Nạp điện thoại</a>
                </li>
                <li><a href="/napcham.html">Nạp chậm</a>
                </li>
                <li><a href="/muamathe.html">Mua mã thẻ</a>
                </li>
                <li><a href="/tintuc.html">Tin tức</a>
                  <ul>
                    <li><a href="/tintuc.html">Khuyến mãi</a>
                    </li>
                    <li><a href="/tintuc.html">Hướng dẫn</a>
                    </li>
                    <li><a href="/tintuc.html">Tin tức</a>
                    </li>
                    <li><a href="/lienhe.html">Liên hệ</a>
                    </li>
                  </ul>
                </li>
                <li><a href="/chitiet.html">Thông báo chuyển tiền</a>
                </li>
              </ul>
            </div></span><span class="pull-right user-header"><span class="separate">&nbsp;</span><a class="btn btn-third"><i class="icon ion-android-person"> </i><span class="btn-text">Đăng ký</span></a><a class="btn btn-second"> <i class="fa ion ion-android-unlock"></i><span class="btn-text">Đăng nhập</span></a></span>
        </div>
      </header>
      <div class="container section-slider">
        <div class="col-sm-12">
          <div class="row"> 
            <div class="slider">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <div class="col-sm-5 pull-right"><img src="./assets/images/slideimg1.png" alt=""/></div>
                  <div class="container">
                    <div class="caption col-sm-7">
                      <h3>
                         NẠP TIỀN <span class="text-third-color">ĐƠN GIẢN</span> CHỈ VỚI VÀI THAO TÁC
                        <div class="subcaption">Chưa bao giờ dễ dàng hơn với napcuoc.com</div>
                      </h3>
                      <p>Trái với quan điểm chung của số đông, Lorem Ipsum không phải chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác phẩm văn học la-tinh cổ điển.</p><a class="btn btn-second text-uppercase">Xem chi tiết</a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="col-sm-5 pull-right"><img src="./assets/images/slideimg1.png" alt=""/></div>
                  <div class="container">
                    <div class="caption col-sm-7">
                      <h3>
                         NẠP TIỀN <span class="text-third-color">ĐƠN GIẢN</span> CHỈ VỚI VÀI THAO TÁC
                        <div class="subcaption">Chưa bao giờ dễ dàng hơn với napcuoc.com</div>
                      </h3>
                      <p>Trái với quan điểm chung của số đông, Lorem Ipsum không phải chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác phẩm văn học la-tinh cổ điển.</p><a class="btn btn-second text-uppercase">Xem chi tiết</a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="col-sm-5 pull-right"><img src="./assets/images/slideimg1.png" alt=""/></div>
                  <div class="container">
                    <div class="caption col-sm-7">
                      <h3>
                         NẠP TIỀN <span class="text-third-color">ĐƠN GIẢN</span> CHỈ VỚI VÀI THAO TÁC
                        <div class="subcaption">Chưa bao giờ dễ dàng hơn với napcuoc.com</div>
                      </h3>
                      <p>Trái với quan điểm chung của số đông, Lorem Ipsum không phải chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác phẩm văn học la-tinh cổ điển.</p><a class="btn btn-second text-uppercase">Xem chi tiết</a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="col-sm-5 pull-right"><img src="./assets/images/slideimg1.png" alt=""/></div>
                  <div class="container">
                    <div class="caption col-sm-7">
                      <h3>
                         NẠP TIỀN <span class="text-third-color">ĐƠN GIẢN</span> CHỈ VỚI VÀI THAO TÁC
                        <div class="subcaption">Chưa bao giờ dễ dàng hơn với napcuoc.com</div>
                      </h3>
                      <p>Trái với quan điểm chung của số đông, Lorem Ipsum không phải chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác phẩm văn học la-tinh cổ điển.</p><a class="btn btn-second text-uppercase">Xem chi tiết</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="main">
        <div class="section">
          <div class="container">
            <div class="fullColumn">
              <div class="blockTitle text-center bg-shadowimg">
                <h3><span class="text-uppercase">Nạp tiền đơn giản chỉ với vài thao tác</span></h3>
              </div>
              <div class="blockContent">
                <div class="col-sm-8 right-seperate">
                  <div class="card-game-panel">
                    <h3 class="panel-title">Mua thẻ game</h3>
                    <p>Chú ý: Nạp chậm là hình thức khách hàng đưa yêu cầu nạp lên website, chúng tôi sẽ tìm thời điểm khuyến mãi tốt nhất để nạp. Chiết khấu chậm là 20%. Khi quý khách nạp 100k sẽ chỉ phải thanh toán 80k. Thời gian nạp sẽ từ 30 phuýt đến 5 tiếng. Quý khách có thể hủy nạp nếu không muốn đợi lâu.</p>
                    <p>Chỉ áp dụng cho các thuê bao trả sau.</p><br>
                    <div class="form-frontpage form-sm">       
                            <div class="row-group">
                              <div class="form-group col-sm-3">
                                <div class="row" style="padding-right: 15px">
                                  <label>Số điện thoại:</label><span class="telco-icon icon-viettel telco-icon-right full-width">
                                    <input class="form-control normal-control" placeholder="Nhập số đt..."></span>
                                </div>
                              </div>
                              <div class="form-group col-sm-2">
                                <div class="row" style="padding-right: 15px">
                                  <label>Số tiền nạp:</label>
                                  <select class="form-control normal-control">
                                    <option value="tnap_20">20.000đ</option>
                                    <option value="tnap_50">50.000đ</option>
                                    <option value="tnap_100">100.000đ</option>
                                    <option value="tnap_200">200.000đ</option>
                                    <option value="tnap_500">500.000đ</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group col-sm-2">
                                <div class="row" style="padding-right: 15px">
                                  <label>Loại:</label>
                                  <select class="form-control">
                                    <option value="tratruoc">Trả trước</option>
                                    <option value="trasau">Trả sau</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group col-sm-2">
                                <div class="row" style="padding-right: 15px">
                                  <div>Phải trả:</div>
                                  <div class="normal-control">80.000 đ</div>
                                </div>
                              </div>
                              <div class="form-group col-sm-2">
                                <div class="row" style="padding-right: 15px">
                                  <label>Cho gộp:</label>
                                  <div class="checkbox-control">
                                    <input type="checkbox">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group col-sm-1">
                                <div class="row" style="padding-right: 15px">
                                  <label>Xóa:</label>
                                  <div class="checkbox-control"><span class="fa fa-minus icon-wrapper-raidus danger"></span></div>
                                </div>
                              </div>
                            </div>
                            <div class="row-group">
                              <div class="form-group col-sm-3">
                                <div class="row" style="padding-right: 15px"><span class="telco-icon icon-viettel telco-icon-right full-width">
                                    <input class="form-control normal-control" placeholder="Nhập số đt..."></span>
                                </div>
                              </div>
                              <div class="form-group col-sm-2">
                                <div class="row" style="padding-right: 15px">
                                  <select class="form-control normal-control">
                                    <option value="tnap_20">20.000đ</option>
                                    <option value="tnap_50">50.000đ</option>
                                    <option value="tnap_100">100.000đ</option>
                                    <option value="tnap_200">200.000đ</option>
                                    <option value="tnap_500">500.000đ</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group col-sm-2">
                                <div class="row" style="padding-right: 15px">
                                  <select class="form-control">
                                    <option value="tratruoc">Trả trước</option>
                                    <option value="trasau">Trả sau</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group col-sm-2">
                                <div class="row" style="padding-right: 15px">
                                  <div class="normal-control">80.000 đ</div>
                                </div>
                              </div>
                              <div class="form-group col-sm-2">
                                <div class="row" style="padding-right: 15px">
                                  <div class="checkbox-control">
                                    <input type="checkbox">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group col-sm-1">
                                <div class="row" style="padding-right: 15px">
                                  <div class="checkbox-control"><span class="fa fa-minus icon-wrapper-raidus danger"></span></div>
                                </div>
                              </div>
                            </div>
                      <div class="row-group btn-addrow"><span><span class="fa fa-plus icon-wrapper-raidus success"></span></span>
                        <label>Thêm dòng</label>
                      </div>
                      <div class="clearfix"></div>
                      <div class="text-left">
                        <div class="title"><strong>Phương thức thanh toán:</strong></div>
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="radio method-item">
                              <label>
                                <input type="radio" name="inlineRadioOptions"/>Thẻ ngân hàng nội địa
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="radio method-item">
                              <label>
                                <input type="radio" name="inlineRadioOptions"/>Ví điện tử
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="radio method-item">
                              <label>
                                <input type="radio" name="inlineRadioOptions"/>Chuyển khoản ATM
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="radio method-item">
                              <label>
                                <input type="radio" name="inlineRadioOptions"/>Số dư tài khoản (Yêu cầu đăng nhập)
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="radio method-item">
                              <label>
                                <input type="radio" name="inlineRadioOptions"/>Thẻ thanh toán quốc tế (Visa/Master)
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="list-banks-detail">
                          <div class="item toggleAreaClass bank1">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/1.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank2">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/2.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank3">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/3.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank4">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/4.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank5">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/5.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank6">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/6.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank7">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/7.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank8">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/8.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank9">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/9.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank10">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/10.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank11">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/11.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank12">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/12.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank13">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/13.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank14">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/14.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank15">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/15.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                          <div class="item toggleAreaClass bank16">
                            <div class="col-sm-4">
                              <div class="row"><span class="img-wraper"><span class="img"><img src="./assets/images/bank/16.jpg" alt="bank"/></span></span></div>
                            </div><span class="col-sm-8">
                              <div class="col-sm-12">
                                <div class="title">Ngân hàng cổ phần thương mại Ngoại thương Việt Nam - Vietcombank</div>
                                <div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Tên tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText">Công ty ABC                               </span></div>
                                  </div>
                                  <div class="row">   
                                    <div class="col-sm-4"><span class="strongText">Số tài khoản:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">123456789123</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><span class="strongText">Chi nhánh:</span></div>
                                    <div class="col-sm-8"><span class="strongText redText">Hà nội</span></div>
                                  </div>
                                </div>
                              </div></span>
                          </div>
                        </div>
                        <ul class="list-banks">
                          <li class="toggleArea justOpen" data-toggle="bank1"><span><img src="./assets/images/bank/1.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank2"><span><img src="./assets/images/bank/2.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank3"><span><img src="./assets/images/bank/3.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank4"><span><img src="./assets/images/bank/4.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank5"><span><img src="./assets/images/bank/5.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank6"><span><img src="./assets/images/bank/6.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank7"><span><img src="./assets/images/bank/7.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank8"><span><img src="./assets/images/bank/8.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank9"><span><img src="./assets/images/bank/9.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank10"><span><img src="./assets/images/bank/10.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank11"><span><img src="./assets/images/bank/11.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank12"><span><img src="./assets/images/bank/12.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank13"><span><img src="./assets/images/bank/13.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank14"><span><img src="./assets/images/bank/14.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank15"><span><img src="./assets/images/bank/15.jpg" alt="bank"/></span></li>
                          <li class="toggleArea justOpen" data-toggle="bank16"><span><img src="./assets/images/bank/16.jpg" alt="bank"/></span></li>
                        </ul>
                        <script>
                          var radioOption = document.querySelectorAll('.method-item input[type="radio"]')
                          radioOption.forEach(function(el, index) {
                              el.addEventListener("click", function(evt) {             
                                  alert('index: ' +  index);
                              });
                          });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row">
                          <div class="right-pay">
                            <ul class="side-order">
                              <li><strong>Giỏ hàng</strong></li>
                              <li class="clearfix"><span class="label">#1 Nạp chậm 09123456:</span><span class="cell-value">100.000đ</span></li>
                              <li class="clearfix"><span class="label">#2 Nạp chậm 09123457:</span><span class="cell-value">200.000đ</span></li>
                              <li class="clearfix"><span class="label">Thuế và phí:</span><span class="cell-value">0đ</span></li>
                              <li class="clearfix total-order"><span class="label">Tổng</span><span class="cell-value">200.000 đ</span></li>
                              <li class="cell-footer">
                                <div class="col-sm-12 button btn btn-third">THANH TOÁN</div>
                                <div class="noti-message">Bằng việc chọn 'Thanh toán', bạn đồng ý với<a>&nbsp;chính sách cung cấp, hủy và hoàn trả dịch vụ</a></div>
                              </li>
                            </ul>
                          </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="company-section section-gray">
        <div class="container">
          <div class="row">
            <div class="col-sm-3"><a class="logo-footer"><img src="./assets//images/logo-white.png" alt=""/></a></div>
            <div class="col-sm-5">
              <div class="addressBlock">
                <div class="info-pg">
                  <h5 class="heading">Tại Hà Nội</h5>
                  <div class="content">
                    <div><i class="fa fa-map-marker"></i><span>&nbsp;Số 123, phường XYZ, quận Cầu Giấy, TP. HN</span></div>
                    <div><i class="fa fa-envelope">  </i><span>&nbsp;support@company.vn</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="addressBlock">
                <div class="info-pg">
                  <h5 class="heading">Điện thoại</h5>
                  <div class="content">
                    <div><i class="fa fa-phone"></i><span>&nbsp;0987 123 456 - 0989 123 456</span></div>
                    <div><i class="fa fa-fax">  </i><span>&nbsp; 123 123 456</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Giới thiệu</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán  </span></a></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Chính sách</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán                          </span></a></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Hướng dẫn</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán</span></a></div>
              </div>
            </div>
            <div class="col-sm-12 copyright"><span>© Copyright 2018 company, All Rights Reserved</span></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./assets/libs/jquery/jquery.min.js"></script>
    <script src="./assets/libs/bootstrap/bootstrap.min.js"></script>
    <script src="./assets/libs/OwlCarousel2/owl.carousel.min.js"></script>
    <script src="./js/main.min.js"></script>
  </body>
</html>