<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="./assets/libs/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/ionicons2/css/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/font-roboto/roboto.css" type="text/css">
    <link rel="stylesheet" href="./assets/libs/OwlCarousel2/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/libs/OwlCarousel2/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./assets/css/theme.css" type="text/css">
  </head>
  <body>       
    <div class="page category">
      <header class="header-top">
        <div class="container"> 
          <h1 class="logo"><a href="./"><img src="./assets/images/logo.png" alt=""/></a></h1><span class="navi-wrapper">
            <div class="navigation">
              <ul>
                <li class="active"><a href="/">Nạp điện thoại</a>
                </li>
                <li><a href="/napcham.html">Nạp chậm</a>
                </li>
                <li><a href="/muamathe.html">Mua mã thẻ</a>
                </li>
                <li><a href="/tintuc.html">Tin tức</a>
                  <ul>
                    <li><a href="/tintuc.html">Khuyến mãi</a>
                    </li>
                    <li><a href="/tintuc.html">Hướng dẫn</a>
                    </li>
                    <li><a href="/tintuc.html">Tin tức</a>
                    </li>
                    <li><a href="/lienhe.html">Liên hệ</a>
                    </li>
                  </ul>
                </li>
                <li><a href="/chitiet.html">Thông báo chuyển tiền</a>
                </li>
              </ul>
            </div></span><span class="pull-right user-header"><span class="separate">&nbsp;</span><a class="btn btn-third"><i class="icon ion-android-person"> </i><span class="btn-text">Đăng ký</span></a><a class="btn btn-second"> <i class="fa ion ion-android-unlock"></i><span class="btn-text">Đăng nhập</span></a></span>
        </div>
      </header>
      <div class="heading-page">
        <div class="container">
          <div class="breadcrumb"><a href="#">Trang chủ  </a><span> / </span><a href="#">Tin tức</a><span> / </span><span>Khuyến mãi</span></div>
          <h3 class="page-title">Khuyến mãi</h3>
        </div>
      </div>
      <section class="main">
        <div class="section">
          <div class="container">
            <div class="col-sm-8">
              <div class="row mainpage-wrapper">
                <div>
                  <div class="blockContent">
                    <div class="blogItem normalCat"><a class="cover" href="/chitiet.html"><img src="./assets/images/article.jpg" alt="news"/></a>
                      <div class="detail"><a class="title" href="/chitiet.html">Lorem Ipsum là gì? Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả</a>
                        <div class="info-meta"><span class="info-inline"> <i class="fa fa-clock-o"></i>8.00AM</span><span class="info-inline"><i class="fa fa-calendar-o"></i>Thứ 2/26/03/2018</span></div>
                        <p>Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố hài hước, các từ ngẫu nhiên có khi không có vẻ gì...</p>
                        <div class="btn btn-viewmore">Xem chi tiết</div>
                      </div>
                    </div>
                    <div class="blogItem normalCat"><a class="cover" href="/chitiet.html"><img src="./assets/images/article.jpg" alt="news"/></a>
                      <div class="detail"><a class="title" href="/chitiet.html">Lorem Ipsum là gì? Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả</a>
                        <div class="info-meta"><span class="info-inline"> <i class="fa fa-clock-o"></i>8.00AM</span><span class="info-inline"><i class="fa fa-calendar-o"></i>Thứ 2/26/03/2018</span></div>
                        <p>Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố hài hước, các từ ngẫu nhiên có khi không có vẻ gì...</p>
                        <div class="btn btn-viewmore">Xem chi tiết</div>
                      </div>
                    </div>
                    <div class="blogItem normalCat"><a class="cover" href="/chitiet.html"><img src="./assets/images/article.jpg" alt="news"/></a>
                      <div class="detail"><a class="title" href="/chitiet.html">Lorem Ipsum là gì? Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả</a>
                        <div class="info-meta"><span class="info-inline"> <i class="fa fa-clock-o"></i>8.00AM</span><span class="info-inline"><i class="fa fa-calendar-o"></i>Thứ 2/26/03/2018</span></div>
                        <p>Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố hài hước, các từ ngẫu nhiên có khi không có vẻ gì...</p>
                        <div class="btn btn-viewmore">Xem chi tiết</div>
                      </div>
                    </div>
                    <div class="blogItem normalCat"><a class="cover" href="/chitiet.html"><img src="./assets/images/article.jpg" alt="news"/></a>
                      <div class="detail"><a class="title" href="/chitiet.html">Lorem Ipsum là gì? Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả</a>
                        <div class="info-meta"><span class="info-inline"> <i class="fa fa-clock-o"></i>8.00AM</span><span class="info-inline"><i class="fa fa-calendar-o"></i>Thứ 2/26/03/2018</span></div>
                        <p>Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố hài hước, các từ ngẫu nhiên có khi không có vẻ gì...</p>
                        <div class="btn btn-viewmore">Xem chi tiết</div>
                      </div>
                    </div>
                    <div class="blogItem normalCat"><a class="cover" href="/chitiet.html"><img src="./assets/images/article.jpg" alt="news"/></a>
                      <div class="detail"><a class="title" href="/chitiet.html">Lorem Ipsum là gì? Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả</a>
                        <div class="info-meta"><span class="info-inline"> <i class="fa fa-clock-o"></i>8.00AM</span><span class="info-inline"><i class="fa fa-calendar-o"></i>Thứ 2/26/03/2018</span></div>
                        <p>Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố hài hước, các từ ngẫu nhiên có khi không có vẻ gì...</p>
                        <div class="btn btn-viewmore">Xem chi tiết</div>
                      </div>
                    </div>
                    <div class="blogItem normalCat"><a class="cover" href="/chitiet.html"><img src="./assets/images/article.jpg" alt="news"/></a>
                      <div class="detail"><a class="title" href="/chitiet.html">Lorem Ipsum là gì? Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả</a>
                        <div class="info-meta"><span class="info-inline"> <i class="fa fa-clock-o"></i>8.00AM</span><span class="info-inline"><i class="fa fa-calendar-o"></i>Thứ 2/26/03/2018</span></div>
                        <p>Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố hài hước, các từ ngẫu nhiên có khi không có vẻ gì...</p>
                        <div class="btn btn-viewmore">Xem chi tiết</div>
                      </div>
                    </div>
                    <ul class="pagination">
                      <li><a href="#" aria-label="Trước"><span aria-hidden="true">«</span></a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#" aria-label="Tiếp"><span aria-hidden="true">»</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4"> 
              <div class="sidebar">
                <div class="blockTitle row  lineHorizontal">
                  <h3><span><i class="fa fa-file-text"></i>  Chủ đề</span></h3>
                </div>
                <div class="blockContent row  border-left">
                  <ul class="list-second-color">
                    <li class="active"><a href="#"><i class="fa fa-check"></i><strong>&nbspNạp tiền điện thoại</strong></a></li>
                    <li><a href="#"><i class="fa fa-check"></i><strong>&nbspNạp tiền Game</strong></a></li>
                    <li><a href="#"><i class="fa fa-check"></i><strong>&nbspHướng dẫn Nạp tiền điện thoại</strong></a></li>
                    <li><a href="#"><i class="fa fa-check"></i><strong>&nbspHướng dẫn Nạp tiền Game</strong></a></li>
                    <li><a href="#"><i class="fa fa-check"></i><strong>&nbspHướng dẫn đổi quà</strong></a></li>
                  </ul>
                </div>
              </div>
              <div class="sidebar border-left">
                <div class="blockTitle row lineHorizontal">
                  <h3><span><i class="fa fa-newspaper-o"></i> Tin mới</span></h3>
                </div>
                <div class="blockContent row">
                  <div class="content-side">
                    <div class="fullImage small-blockitem">
                      <div class="blockCase">
                        <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                        <div class="heading">           
                          <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                        </div><a class="readmore">Xem thêm...</a>
                      </div>
                    </div>
                    <div class="small-blockitem">
                      <div class="blockCase">
                        <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                        <div class="heading">           
                          <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                        </div><a class="readmore">Xem thêm...</a>
                      </div>
                    </div>
                    <div class="small-blockitem">
                      <div class="blockCase">
                        <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                        <div class="heading">           
                          <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                        </div><a class="readmore">Xem thêm...</a>
                      </div>
                    </div>
                    <div class="small-blockitem">
                      <div class="blockCase">
                        <div class="cover"><a><img src="./assets/images/thumb.jpg" alt=""/></a></div>
                        <div class="heading">           
                          <h3><a>Nó đến từ đâu? Làm thế nào để có nó?</a></h3>
                        </div><a class="readmore">Xem thêm...</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="company-section section-gray">
        <div class="container">
          <div class="row">
            <div class="col-sm-3"><a class="logo-footer"><img src="./assets//images/logo-white.png" alt=""/></a></div>
            <div class="col-sm-5">
              <div class="addressBlock">
                <div class="info-pg">
                  <h5 class="heading">Tại Hà Nội</h5>
                  <div class="content">
                    <div><i class="fa fa-map-marker"></i><span>&nbsp;Số 123, phường XYZ, quận Cầu Giấy, TP. HN</span></div>
                    <div><i class="fa fa-envelope">  </i><span>&nbsp;support@company.vn</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="addressBlock">
                <div class="info-pg">
                  <h5 class="heading">Điện thoại</h5>
                  <div class="content">
                    <div><i class="fa fa-phone"></i><span>&nbsp;0987 123 456 - 0989 123 456</span></div>
                    <div><i class="fa fa-fax">  </i><span>&nbsp; 123 123 456</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Giới thiệu</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán  </span></a></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Chính sách</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán                          </span></a></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="listFooter"><a class="title">Hướng dẫn</a>
                <div class="info-pg"><a class="contact-line" href="#0"><span>Về chúng tôi</span></a><a class="contact-line" href="#0"><span>Giới thiệu trung tâm</span></a><a class="contact-line" href="#0"> <span>Chính sách bảo mật</span></a><a class="contact-line" href="#0"> <span>Điều khoản và điều kiện </span></a><a class="contact-line" href="#0"> <span>Thanh toán</span></a></div>
              </div>
            </div>
            <div class="col-sm-12 copyright"><span>© Copyright 2018 company, All Rights Reserved</span></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./assets/libs/jquery/jquery.min.js"></script>
    <script src="./assets/libs/bootstrap/bootstrap.min.js"></script>
    <script src="./assets/libs/OwlCarousel2/owl.carousel.min.js"></script>
    <script src="./js/main.min.js"></script>
  </body>
</html>